<div>
  <div class="heading">
   <h1> {{name}} </h1>
  </div>
  <input placeholder="Add Checklist" [(ngModel)]="newCheckListName">
  <button (click)="addCheckList()" >ADD</button>
  <div *ngFor=" let i of checkList">
    {{i.name}}
    <button (click)="deleteCheckList(i)">Del</button>
    <div *ngFor=" let j of i.checkItems">
      {{j.name}}
      <button (click)="deleteCheckListItem(i,j)">Delete</button>
    </div>
    <input placeholder="Add Item" [(ngModel)]="newCheckItemName">
  <button (click)="addCheckItem(i)" >ADD</button>
  </div>
  
</div>
