<!--The content below is only a placeholder and can be replaced.-->
<div class="top">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-list></app-list>
<router-outlet></router-outlet>
</div>