<div>
  <div class="container" (onClick)="close() ">
    <div *ngFor=" let i of boardList" class="list-container">
      {{i.name}}
      <div *ngFor=" let j of cardList">
        <div *ngIf="j.idList== i.id">
          <div class="popup-container" (click)="showPopUp(j)">
            {{j.name}}
          </div>
            <button (click)="delete(j)">Delete</button>
          
        </div>
      </div>
      <input [(ngModel)]="newCardName" placeholder="Add Card">
      <button (click)="addCard(i.id)">ADD</button>
    </div>
    <div>
      <input [(ngModel)]="newListName" placeholder="Add List">
      <button (click)="addList()">ADD</button>
    </div>
  </div>

  <div *ngIf="status">
    <div [ngClass]="status?'popup-parent':'hide-popup'" (click)="close()"></div>
    <div [ngClass]="status?'popup':'hide-popup'">
        <app-cards [childMessage]="parentMessage" [name]="nameOfCard"></app-cards>
    </div>
  </div>
</div>
