.container {
    display: flex;

}

.list-container{
    width: 180px;
    margin-left:80px;
    z-index: 1;
    position: relative;
    /* background-color: aqua; */
}

.hide-popup{
    display: none;
}
.popup {
    background-color: rgb(235, 101, 101);
    width: 80%;
    height: 70%;
    margin-top: -30%;
    margin-left: 10%;
    z-index: 100;
    position: absolute;

}
.popup-parent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
