/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    /* background-image: url('./assets/trello.jpg'); */
    background-color: rgb(243, 147, 147);
}